
/*-------------------------------------------------------
    Reset
 ---------------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*----------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------*/

body{
    font-family: 'Lato', sans-serif;
    color: #8e8e8e;

    line-height: 1.5;
}

a{
    color: inherit;
    text-decoration: none;
}


/*----------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------*/


.menu{
    width: 25%;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #181818;

}

.menu div{
    padding: 0 40px;
}

.menu h2{
    font-family: 'PT Serif', serif;
    font-size: 1.5rem; /* 24 px */
    color: #fff;
    font-weight: 400;

}

.media ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #8e8e8e;

    list-style: none;
    padding: 0;
}

.media li{
    padding: 30px 0 40px;
}

.media a{
    font-size: 2rem; /* 32px */
}

.media a:hover{
    color: #de1255;
}

.prin ul{
    display: flex;
    flex-direction: column;

    list-style: none;
    padding: 0;
}

.prin a{
    flex-grow: 1;
    font-family: 'PT Serif', serif;
    font-size: 1.5rem; /* 24px */
    color: #fff;
    padding: 20px 40px;
}

.prin li{
    display: flex;
}


.prin li:hover{
    background-color: #002f5f;
}



.main{
    padding-left: 33.3333%;
    padding-right: 8.3333%;
}

.main h1{
    font-family: 'PT Serif', serif;
    font-size: 2.25rem; /* 36px */
    font-weight: bold;


}

.main header a{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: #002f5f;
}

.main header span{
    padding: 1rem; /* 16px */
    color: #e02260;
}

.main header img{
    width: 4.25rem; /* 68px */
}





article{
    display: flex;
    justify-content: flex-start;
}

.date p{
    width: 110px;
    height: 110px;


    font-family: 'PT Serif', serif;
    font-size: 1.625rem; /* 26px */

    border: 10px solid #ebebeb;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

article:nth-child(even) .date p{
    color: #e02260;
}
article:nth-child(odd) .date p{
    color: #002f5f;
}


/*font-family: 'Lato', sans-serif;*/
/*font-family: 'PT Serif', serif;*/